/* default styles */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    /* this makes it so that adjusting padding/margin doesn't affect the width */
    box-sizing: border-box;
}

body {
    /* default font */
    font-family: 'Lato', sans-serif;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; */
    overflow-x: hidden;
    margin: 0;
    background-color: #333;
    color: #222;
}

li {
    list-style: none;
}

/* default styles */
.content img {
    max-width: 100%;
}

.container {
    text-align: center;
    background-color: #fafafa;
    /* this makes the origin(point where the rotation occurs) point top-left */
    transform-origin: top left;
    /* make transition smooth */
    transition: transform 0.5s linear;
    /* default styling */
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
}

/* class that rotates if applied with Javascript */
.container.show-nav {
    transform: rotate(-20deg);
}

/* positions the circle */
.circle-container {
    position: fixed;
    top: -6.5rem;
    left: -6.5rem;
}

/* actual circle shape */
.circle {
    background-color: pink;
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    /* this circle is the parent element */
    position: relative;
    transition: transform 0.5s linear;
}

/* button styling */
.circle button {
    cursor: pointer;
    /* this is important because it's the child */
    position: absolute;
    top: 50%;
    left: 50%;
    height: fit-content;
    /* sizing */
    min-width: 2rem;
    border: 0;
    font-size: 26px;
    /* styling */
    background: transparent;
    color: white;
}

/* remove outline from buttons AFTER clicked */
.circle button:focus {
    outline: none;
}

/* this is the 3 bars */
.circle button#open {
    left: 60%;
    top: 60%;
}

/* this is the X */
.circle button#close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}