/* default styles */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    /* this makes it so that adjusting padding/margin doesn't affect the width */
    box-sizing: border-box;
}

body {
    /* default font */
    font-family: 'Lato', sans-serif;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; */
    overflow-x: hidden;
    margin: 0;
    background-color: #333;
    color: #222;
}

/* default styles */

.container {
    background-color: #fafafa;
}

.container.show-nav {
    transform: rotate(-20deg);
}