/* default styles */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    /* this makes it so that adjusting padding/margin doesn't affect the width */
    box-sizing: border-box;
}

body {
    /* default font */
    font-family: 'Lato', sans-serif;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; */
    overflow-x: hidden;
    margin: 0;
    /* this acts as the background */
    background-color: #333;
    color: #222;
}

/* default styles */
.content img {
    max-width: 100%;
}

/* this holds the main content */
.container {
    text-align: center;
    /* this acts as the foreground */
    background-color: #fafafa;
    /* this makes the origin(point where the rotation occurs) point top-left */
    transform-origin: top left;
    /* make transition smooth */
    transition: transform 0.5s linear;
    /* default styling */
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
}

/* class that rotates if applied with Javascript */
.container.show-nav {
    transform: rotate(-20deg);
}

/* when show-nav is applied, transition the nav-bar */
.container.show-nav + nav li {
    /* this returns the li to original position */
    transform: translateX(0);
    transition-delay: 3s;
}

/* positions the circle */
.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

/* actual circle shape */
.circle {
    background-color: pink;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    /* this circle is the parent element */
    position: relative;
    transition: transform 0.5s linear;
}

/* rotate the X icon */
.container.show-nav .circle {
    transform: rotate(-70deg);
}

/* button styling */
.circle button {
    cursor: pointer;
    /* this is important because it's the child */
    position: absolute;
    /* top: 50%;
    left: 50%; */
    height: fit-content;
    /* sizing */
    min-width: 2.5rem;
    border: 0;
    font-size: 2rem;
    /* styling */
    background: transparent;
    color: white;
}

/* remove outline from buttons AFTER clicked */
.circle button:focus {
    outline: none;
}

/* this is the 3 bars */
.circle button#open {
    left: 60%;
    top: 60%;
}

/* this is the X */
.circle button#close {
    top: 60%;
    left: 40%;
    transform: rotate(90deg);
    transform-origin: top left;
}

nav {
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}

nav ul {
    list-style: none;
    padding-left: 30px;
}

/* navigation background */
nav ul li {
    text-transform: uppercase;
    color: #fff;
    margin: 40px 0;
    /* animate from the left to the right */
    transform: translateX(-80%);
    transition: transform 3s ease-in;
}

/* size of the navigation */
nav ul li i {
    font-size: 1.5rem;
    margin-right: 10px;
}

/* spacing between the icons and nav */
nav ul li i span {
    margin-left: 1rem;
}

/* targets the ABOUT */
nav ul li+li {
    margin-left: 2rem;
    transform: translateX(-150%);
}

/* targets the CONTACT */
nav ul li+li+li {
    margin-left: 3rem;
    transform: translateX(-200%);
}

/* styles the content div */
.content {
    /* if we expand the window, the content will be limited to 1000px */
    max-width: 1000px;
    margin: 50px auto;
}

/* header text */
.content h1 {
    margin: 0;
}

/* author text */
.content small {
    color: #555;
    font-style: italic;
}

/* lorem text */
.content p {
    color: #333;
    line-height: 1.5;
}